.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pdf

output/knit-cache
output/pd_cache
ouptut/kmeans_cache
ouptut/fpdc_cache
ouptut/ArchivedResults
data/ml-1m.zip
rkm_files/
km_files/
pd_files/
fpdc_files/
output/